<br />
<br />
<div class="grid-container center">
  <div class="grid-x center">

    <% @comedians.each do |comedian| %>
      <a href="comedians/<%= comedian.user_id %>">
        <div class="cell small-4 callout comedian-index-tile">
          <b><%= comedian.full_name %></b>
          <br />
          <img src=<%=comedian.photo1%> class="comedian-index-prof-pic">
        </div>
      </a>
    <% end %>

  </div>
</div>
