// .animate-filter-slide {
//   animation-timing-function: ease-in-out;
//   animation-name: animateFilterSlide;
//   animation-duration: 1.5s;
//   animation-fill-mode: forwards;
// }
// 
// @keyframes animateFilterSlide {
//   0%   {left:0px; opacity: 1}
//   25%  {left:50%; opacity: .8}
//   75%  {left:100%; opacity: 0}
//   90% {left:0%; opacity: 0}
//   100%  {left:0%; opacity: 1}
// }
