.event-index-tile {
  border-radius: 6px;
  border-color: white;
}

.event-index-tile-image {
  border-radius: 6px;
}

.event-index-tile-text {
  padding-left: 20px;
}

.event-show-tile {
  border-radius: 6px;
  border-color: white;
  margin-top: 30px;
}

.profile-show-container {
  border-radius: 6px;
  border-color: white;
  margin-top: 30px;
}

.comedian-index-tile {
  border-radius: 6px;
  background-color: white;
}

.comedian-index-prof-pic {
  max-width: 300px;
  border-top: 6px;
}

// FORMS

.form {
  width: 60%;
  border-radius: 6px;
  margin-top: 50px;
}

.form-rails {
  max-width: 400px;
  margin: auto;
}

.rails-field {
  border-radius: 5px;
}

// MAP

.map-container {
  padding-bottom: 20px;
  border-radius: 6px;
}

// UTILITIES

.center-content {
    display: flex;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 60vw;
    margin: auto;
}

.center-div {
  margin: auto;
}

.center {
  justify-content: center;
  margin: auto;
}

.pad-left {
  padding-left: 20px;
}

.round-borders {
  border-radius: 6px;
}

.small-margin-bottom {
  margin-bottom: 5px;
}
