$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

.event-index-tile {
  border-radius: 6px;
  border-color: white;
  box-shadow: $box-shadow;
}

.event-index-tile-image {
  border-radius: 6px;
}

.event-index-tile-text {
  padding-left: 20px;
}

.event-show-tile {
  border-radius: 6px;
  border-color: white;
  margin-top: 30px;
}

.profile-show-container {
  border-radius: 6px;
  border-color: white;
  margin-top: 30px;
}

.comedian-index-tile {
  border-radius: 6px;
  background-color: white;
  overflow: hidden;
  max-height: 300px;
}

.comedian-show-tile-pic {
  box-shadow: $box-shadow;
  display: flex;
  object-fit: scale-down;
  max-width: 320px;
  max-height: 300px;
  margin: auto;
  justify-content: center;
  border-radius: 6px;
}

.comedian-show-tile-box {
  margin-bottom: 20px;
}

// FORMS

.form {
  width: 60%;
  border-radius: 6px;
  margin-top: 50px;
}

.form-rails {
  max-width: 400px;
  margin: auto;
}

.rails-field {
  border-radius: 5px;
}

// MAP

.map-container {
  padding-bottom: 20px;
  border-radius: 6px;
}

// UTILITIES

.center-content {
  display: flex;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 60vw;
  margin: auto;
}

.center-div {
  margin: auto;
}

.center-text {
  text-align: center;
}

.center {
  justify-content: center;
  margin: auto;
}

.pad-left {
  padding-left: 20px;
}

.round-borders {
  border-radius: 6px;
}

.small-margin-bottom {
  margin-bottom: 5px;
}

.row-spacer {
  margin-top: 40px;
}

.margin-top {
  margin-top: 40px;
}

.box-shadow {
  box-shadow: $box-shadow;
}
