// Arvo:700|Lobster|Roboto+Slab

.button-1 {
  color: white;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #5C5C5C;
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Roboto', sans-serif;
  color: #5C5C5C;
}

.weight1 {
  font-weight: 100;
}

.weight3 {
  font-weight: 300;
}

.weight4 {
  font-weight: 400;
}

.weight7 {
  font-weight: 700;
}

.text1 {
  font-size: 2.3rem;
  font-family: 'Roboto Slab', serif;
}

.text2 {
  font-size: 1.5rem;
}

.text3 {
  font-size: 1.0rem;
}

.text4 {
  font-size: .75rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.align-center {

    -webkit-box-pack: center;

    -webkit-justify-content: center;

    -ms-flex-pack: center;

    justify-content: center;

}
