.font-slab {
  font-family: 'Roboto Slab', serif;
}

.weight1 {
  font-weight: 100;
}

.weight3 {
  font-weight: 300;
}

.weight4 {
  font-weight: 400;
}

.weight7 {
  font-weight: 700;
}

.text1 {
  font-size: 2.3rem;
}

.text2 {
  font-size: 2.0rem;
}

.text3 {
  font-size: 1.7rem;
}

.text4 {
  font-size: 1.4rem;
}

.text5 {
  font-size: 1.1rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// aligns items within it
.align-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}
